<div class="string" title="{{name}}">
    <button class="save" data-id="{{id}}" data-count="{{count}}" title="save-{{name}}" disabled>Save</button>
    <button class="delete" data-id="{{id}}" title="delete-{{name}}">Delete</button>
</div>