{{!-- <li class="wrapper" data-name="{{name}}">
    <button class="close" data-close="{{name}}">x</button>
    <div class="img_wrap">
        <img class="img" src="{{img}}" alt="" width="135px" />
        <input type="file" id="file" multiple />
    </div>
    <div class="content-wrap">
        <p>product name: {{name}}</p>
        <p class="content">{{name}}</p>
    </div>
    <div class="content-wrap">
        <p>article: {{article}}</p>
        <p class="content">{{article}}</p>
    </div>
    <div class="content-wrap">
        <p>count: </p>
        <p>count: <input type="text" name="count-{{name}}" class="count" value="{{count}}" placeholder="{{count}}" /></p>
    </div>
        <button class="save" data-id="{{index}}" data-count="{{count}}" title="save-{{name}}" disabled>Save</button>
        <button class="delete" data-id="{{index}}" title="delete-{{name}}">Delete</button>
</li> --}}

<li class="wrapper" data-name="{{name}}">
    <button class="close" data-close="{{name}}">x</button>
    <div class="img_wrap">
        <img class="img" src="{{img}}" alt="" width="135px" />
        <input type="file" id="file" multiple />
    </div>
    <div class="content-wrap">
        <p>product name:</p>
        <p>article:</p>
        <p>count:</p>
    </div>
    <div class="content-wrap">
        <p>{{name}}</p>
        <p>{{article}}</p>
        <p><input type="text" name="count-{{name}}" class="count" value="{{count}}" placeholder="{{count}}" /></p>
    </div>
        <button class="save" data-id="{{index}}" data-count="{{count}}" title="save-{{name}}" disabled>Save</button>
        <button class="delete" data-id="{{index}}" title="delete-{{name}}">Delete</button>
</li>